# 2877. Create a DataFrame from List

Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

The result format is in the following example.



Example 1:

Input:
student_data:

[
  [1, 15],

  [2, 11],

  [3, 11],

  [4, 20]
]

Output:

+------------+-----+

| student_id | age |

+------------+-----+

| 1          | 15  |

| 2          | 11  |

| 3          | 11  |

| 4          | 20  |

+------------+-----+

Explanation:
A DataFrame was created on top of student_data, with two columns named student_id and age.

In [ ]:
import pandas as pd

def createDataframe(student_data):
  return pd.DataFrame(student_data, columns=['student_id', 'age'])

In [ ]:
print(createDataframe([
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]))

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

# 2878. Get the Size of a DataFrame

DataFrame players:

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| player_id   | int    |

| name        | object |

| age         | int    |

| position    | object |

| ...         | ...    |

+-------------+--------+

Write a solution to calculate and display the number of rows and columns of players.

Return the result as an array:

[number of rows, number of columns]

The result format is in the following example.



Example 1:

Input:

+-----------+----------+-----+-------------+--------------------+

| player_id | name     | age | position    | team               |

+-----------+----------+-----+-------------+--------------------+

| 846       | Mason    | 21  | Forward     | RealMadrid         |

| 749       | Riley    | 30  | Winger      | Barcelona          |

| 155       | Bob      | 28  | Striker     | ManchesterUnited   |

| 583       | Isabella | 32  | Goalkeeper  | Liverpool          |

| 388       | Zachary  | 24  | Midfielder  | BayernMunich       |

| 883       | Ava      | 23  | Defender    | Chelsea            |

| 355       | Violet   | 18  | Striker     | Juventus           |

| 247       | Thomas   | 27  | Striker     | ParisSaint-Germain |

| 761       | Jack     | 33  | Midfielder  | ManchesterCity     |

| 642       | Charlie  | 36  | Center-back | Arsenal            |

+-----------+----------+-----+-------------+--------------------+

Output:

[10, 5]

Explanation:
This DataFrame contains 10 rows and 5 columns.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def getDataframeSize(players):
    rows, cols = players.shape
    return [rows, cols]

In [ ]:
print(getDataframeSize(pd.DataFrame([
    [846, 'Mason', 21, 'Forward', 'RealMadrid'],
    [749, 'Riley', 30, 'Winger', 'Barcelona']
])))

[2, 5]

# 2879. Display the First Three Rows

DataFrame: employees

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| employee_id | int    |

| name        | object |

| department  | object |

| salary      | int    |

+-------------+--------+

Write a solution to display the first 3 rows of this DataFrame.



Example 1:

Input:

DataFrame employees

+-------------+-----------+-----------------------+--------+

| employee_id | name      | department            | salary |

+-------------+-----------+-----------------------+--------+

| 3           | Bob       | Operations            | 48675  |

| 90          | Alice     | Sales                 | 11096  |

| 9           | Tatiana   | Engineering           | 33805  |

| 60          | Annabelle | InformationTechnology | 37678  |

| 49          | Jonathan  | HumanResources        | 23793  |

| 43          | Khaled    | Administration        | 40454  |

+-------------+-----------+-----------------------+--------+

Output:

+-------------+---------+-------------+--------+

| employee_id | name    | department  | salary |

+-------------+---------+-------------+--------+

| 3           | Bob     | Operations  | 48675  |

| 90          | Alice   | Sales       | 11096  |

| 9           | Tatiana | Engineering | 33805  |

+-------------+---------+-------------+--------+

Explanation:
Only the first 3 rows are displayed.

In [ ]:
import pandas as pd

In [ ]:
def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

In [ ]:
selectFirstRows(pd.DataFrame([
    [846, 'Mason', 21, 'Forward', 'RealMadrid'],
    [749, 'Riley', 30, 'Winger', 'Barcelona'],
    [847, 'Mason', 21, 'Forward', 'RealMadrid'],
    [748, 'Riley', 30, 'Winger', 'Barcelona'],
    [849, 'Mason', 21, 'Forward', 'RealMadrid'],
    [746, 'Riley', 30, 'Winger', 'Barcelona'],
]))

     0      1   2        3           4
0  846  Mason  21  Forward  RealMadrid
1  749  Riley  30   Winger   Barcelona
2  847  Mason  21  Forward  RealMadrid

# 2880. Select Data

DataFrame students

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| student_id  | int    |

| name        | object |

| age         | int    |

+-------------+--------+

Write a solution to select the name and age of the student with student_id = 101.

The result format is in the following example.



Example 1:

Input:

+------------+---------+-----+

| student_id | name    | age |

+------------+---------+-----+

| 101        | Ulysses | 13  |

| 53         | William | 10  |

| 128        | Henry   | 6   |

| 3          | Henry   | 11  |

+------------+---------+-----+

Output:

+---------+-----+

| name    | age |

+---------+-----+

| Ulysses | 13  |

+---------+-----+

Explanation:
Student Ulysses has student_id = 101, we select the name and age.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students.student_id == 101][['Ism','Yosh']]

In [ ]:
df = pd.DataFrame({
    'student_id': [101,102,103,104,105],
    'Ism': ['Ali', 'Vali', 'Laylo', 'Javohir', 'Malika'],
    'Yosh': np.random.randint(18, 40, size=5),
    'Ball': np.round(np.random.uniform(60, 100, size=5), 2)
})

In [ ]:
df

   student_id      Ism  Yosh   Ball
0         101      Ali    39  76.90
1         102     Vali    26  98.60
2         103    Laylo    24  76.67
3         104  Javohir    39  72.92
4         105   Malika    26  68.61

In [ ]:
selectData(df)

   Ism  Yosh
0  Ali    39

# 2881. Create a New Column

DataFrame employees

+-------------+--------+

| Column Name | Type.  |

+-------------+--------+

| name        | object |

| salary      | int.   |

+-------------+--------+

A company plans to provide its employees with a bonus.

Write a solution to create a new column name bonus that contains the doubled values of the salary column.

The result format is in the following example.



Example 1:

Input:

DataFrame employees

+---------+--------+

| name    | salary |

+---------+--------+

| Piper   | 4548   |

| Grace   | 28150  |

| Georgia | 1103   |

| Willow  | 6593   |

| Finn    | 74576  |

| Thomas  | 24433  |

+---------+--------+

Output:

+---------+--------+--------+

| name    | salary | bonus  |

+---------+--------+--------+

| Piper   | 4548   | 9096   |

| Grace   | 28150  | 56300  |

| Georgia | 1103   | 2206   |

| Willow  | 6593   | 13186  |

| Finn    | 74576  | 149152 |

| Thomas  | 24433  | 48866  |

+---------+--------+--------+

Explanation:
A new column bonus is created by doubling the value in the column salary.

In [ ]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary'] * 2
    return employees

# 2882. Drop Duplicate Rows

DataFrame customers

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| customer_id | int    |

| name        | object |

| email       | object |

+-------------+--------+

There are some duplicate rows in the DataFrame based on the email column.

Write a solution to remove these duplicate rows and keep only the first occurrence.

The result format is in the following example.



Example 1:

Input:

+-------------+---------+---------------------+

| customer_id | name    | email               |

+-------------+---------+---------------------+

| 1           | Ella    | emily@example.com   |

| 2           | David   | michael@example.com |

| 3           | Zachary | sarah@example.com   |

| 4           | Alice   | john@example.com    |

| 5           | Finn    | john@example.com    |

| 6           | Violet  | alice@example.com   |

+-------------+---------+---------------------+

Output:  

+-------------+---------+---------------------+

| customer_id | name    | email               |

+-------------+---------+---------------------+

| 1           | Ella    | emily@example.com   |

| 2           | David   | michael@example.com |

| 3           | Zachary | sarah@example.com   |

| 4           | Alice   | john@example.com    |

| 6           | Violet  | alice@example.com   |

+-------------+---------+---------------------+

Explanation:
Alic (customer_id = 4) and Finn (customer_id = 5) both use john@example.com, so only the first occurrence of this email is retained.

In [ ]:
import pandas as pd
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates(subset='email', keep='first')

# 2883. Drop Missing Data

DataFrame students

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| student_id  | int    |

| name        | object |

| age         | int    |

+-------------+--------+

There are some rows having missing values in the name column.

Write a solution to remove the rows with missing values.

The result format is in the following example.



Example 1:

Input:

+------------+---------+-----+

| student_id | name    | age |

+------------+---------+-----+

| 32         | Piper   | 5   |

| 217        | None    | 19  |

| 779        | Georgia | 20  |

| 849        | Willow  | 14  |

+------------+---------+-----+

Output:

+------------+---------+-----+

| student_id | name    | age |

+------------+---------+-----+

| 32         | Piper   | 5   |

| 779        | Georgia | 20  |

| 849        | Willow  | 14  |

+------------+---------+-----+

Explanation:
Student with id 217 havs empty value in the name column, so it will be removed.

In [ ]:
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    return students.dropna(subset=['name'])

In [ ]:
dropMissingData(pd.DataFrame([
    [32, 'Piper', 5],
    [217, None, 19],
    [779, 'Georgia', 20],
    [849, 'Willow', 14]
], columns=['student_id', 'name', 'age']))

   student_id     name  age
0          32    Piper    5
2         779  Georgia   20
3         849   Willow   14

# 2884. Modify Columns

DataFrame employees

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| name        | object |

| salary      | int    |

+-------------+--------+

A company intends to give its employees a pay rise.

Write a solution to modify the salary column by multiplying each salary by 2.

The result format is in the following example.



Example 1:

Input:

DataFrame employees

+---------+--------+

| name    | salary |

+---------+--------+

| Jack    | 19666  |

| Piper   | 74754  |

| Mia     | 62509  |

| Ulysses | 54866  |

+---------+--------+

Output:

+---------+--------+

| name    | salary |

+---------+--------+

| Jack    | 39332  |

| Piper   | 149508 |

| Mia     | 125018 |

| Ulysses | 109732 |

+---------+--------+

Explanation:
Every salary has been doubled.

In [ ]:
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees.salary = employees.salary * 2
    return employees

# 2885. Rename Columns

DataFrame students

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| id          | int    |

| first       | object |

| last        | object |

| age         | int    |

+-------------+--------+

Write a solution to rename the columns as follows:

id to student_id

first to first_name

last to last_name

age to age_in_years

The result format is in the following example.



Example 1:

Input:

+----+---------+----------+-----+

| id | first   | last     | age |

+----+---------+----------+-----+

| 1  | Mason   | King     | 6   |

| 2  | Ava     | Wright   | 7   |

| 3  | Taylor  | Hall     | 16  |

| 4  | Georgia | Thompson | 18  |

| 5  | Thomas  | Moore    | 10  |

+----+---------+----------+-----+

Output:

+------------+------------+-----------+--------------+

| student_id | first_name | last_name | age_in_years |

+------------+------------+-----------+--------------+

| 1          | Mason      | King      | 6            |

| 2          | Ava        | Wright    | 7            |

| 3          | Taylor     | Hall      | 16           |

| 4          | Georgia    | Thompson  | 18           |

| 5          | Thomas     | Moore     | 10           |

+------------+------------+-----------+--------------+

Explanation:

The column names are changed accordingly.

In [ ]:
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    return students.rename(columns = {'id':'student_id', 'first':'first_name','last':'last_name', 'age':'age_in_years'})

In [ ]:
renameColumns(pd.DataFrame([
    [1, 'Mason', 'King', 6],
    [2, 'Ava', 'Wright', 7],
    [3, 'Taylor', 'Hall', 16],
    [4, 'Georgia', 'Thompson', 18],
    [5, 'Thomas', 'Moore', 10]
], columns = ['id', 'first', 'last', 'age']))

   student_id first_name last_name  age_in_years
0           1      Mason      King             6
1           2        Ava    Wright             7
2           3     Taylor      Hall            16
3           4    Georgia  Thompson            18
4           5     Thomas     Moore            10

# 2886. Change Data Type

DataFrame students

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| student_id  | int    |

| name        | object |

| age         | int    |

| grade       | float  |

+-------------+--------+

Write a solution to correct the errors:

The grade column is stored as floats, convert it to integers.

The result format is in the following example.



Example 1:

Input:

DataFrame students:

+------------+------+-----+-------+

| student_id | name | age | grade |

+------------+------+-----+-------+

| 1          | Ava  | 6   | 73.0  |

| 2          | Kate | 15  | 87.0  |

+------------+------+-----+-------+

Output:

+------------+------+-----+-------+

| student_id | name | age | grade |

+------------+------+-----+-------+

| 1          | Ava  | 6   | 73    |

| 2          | Kate | 15  | 87    |

+------------+------+-----+-------+

Explanation:

The data types of the column grade is converted to int.

In [ ]:
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students['grade'] = students['grade'].astype(int)
    return students

In [ ]:
changeDatatype(
    pd.DataFrame([
        [1, 'Ava', 6, 73.0],
        [2, 'Kate', 15, 87.0]
    ], columns=['student_id', 'name', 'age', 'grade'])
)

   student_id  name  age  grade
0           1   Ava    6     73
1           2  Kate   15     87

# 2887. Fill Missing Data

DataFrame products

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| name        | object |

| quantity    | int    |

| price       | int    |

+-------------+--------+

Write a solution to fill in the missing value as 0 in the quantity column.

The result format is in the following example.


Example 1:

Input:

+-----------------+----------
+-------+

| name            | quantity | price |

+-----------------+----------+-------+

| Wristwatch      | None     | 135   |

| WirelessEarbuds | None     | 821   |

| GolfClubs       | 779      | 9319  |

| Printer         | 849      | 3051  |

+-----------------+----------+-------+


Output:

+-----------------+----------+-------+

| name            | quantity | price |

+-----------------+----------+-------+

| Wristwatch      | 0        | 135   |

| WirelessEarbuds | 0        | 821   |

| GolfClubs       | 779      | 9319  |

| Printer         | 849      | 3051  |

+-----------------+----------+-------+

Explanation:
The quantity for Wristwatch and WirelessEarbuds are filled by 0.

In [ ]:
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    return products['quantity'].fillna(0)

In [ ]:
fillMissingValues(pd.DataFrame([
    ['Wristwatch',None, 135],
    ['WirelessEarbuds', None, 821],
    ['GolfClubs', 779, 9319],
    ['Printer', 849, 3051]], columns = ['name','quantity','price']))

0      0.0
1      0.0
2    779.0
3    849.0
Name: quantity, dtype: float64

| name            | quantity | price |
| --------------- | -------- | ----- |
| Wristwatch      | null     | 135   |
| WirelessEarbuds | null     | 821   |
| GolfClubs       | 779      | 9319  |
| Printer         | 849      | 3051  |

# 2888. Reshape Data: Concatenate

DataFrame df1

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| student_id  | int    |

| name        | object |

| age         | int    |

+-------------+--------+

DataFrame df2

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| student_id  | int    |

| name        | object |

| age         | int    |

+-------------+--------+

Write a solution to concatenate these two DataFrames vertically into one DataFrame.

The result format is in the following example.



Example 1:

Input:

df1

+------------+---------+-----+

| student_id | name    | age |

+------------+---------+-----+

| 1          | Mason   | 8   |

| 2          | Ava     | 6   |

| 3          | Taylor  | 15  |

| 4          | Georgia | 17  |

+------------+---------+-----+

df2

+------------+------+-----+

| student_id | name | age |

+------------+------+-----+

| 5          | Leo  | 7   |

| 6          | Alex | 7   |

+------------+------+-----+

Output:

+------------+---------+-----+

| student_id | name    | age |

+------------+---------+-----+

| 1          | Mason   | 8   |

| 2          | Ava     | 6   |

| 3          | Taylor  | 15  |

| 4          | Georgia | 17  |

| 5          | Leo     | 7   |

| 6          | Alex    | 7   |

+------------+---------+-----+

Explanation:
The two DataFramess are stacked vertically, and their rows are combined.

In [ ]:
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    return pd.concat([df1, df2])

In [ ]:
df1 = pd.DataFrame([
    [1,'Mason',8],
    [2,'Ava',6],
    [3,'Taylor',15],
    [4,'Georgia',17]], columns=['student_id','name','age']
)

In [ ]:
df2 = pd.DataFrame([
    [5,'Leo',7],
    [6,'Alex',7]], columns=['student_id','name','age']
)

In [ ]:
concatenateTables(df1, df2)

   student_id     name  age
0           1    Mason    8
1           2      Ava    6
2           3   Taylor   15
3           4  Georgia   17
0           5      Leo    7
1           6     Alex    7

# 2889. Reshape Data: Pivot

DataFrame weather

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| city        | object |

| month       | object |

| temperature | int    |

+-------------+--------+

Write a solution to pivot the data so that each row represents temperatures for a specific month, and each city is a separate column.

The result format is in the following example.



Example 1:

Input:

+--------------+----------+-------------+

| city         | month    | temperature |

+--------------+----------+-------------+

| Jacksonville | January  | 13          |

| Jacksonville | February | 23          |

| Jacksonville | March    | 38          |

| Jacksonville | April    | 5           |

| Jacksonville | May      | 34          |

| ElPaso       | January  | 20          |

| ElPaso       | February | 6           |

| ElPaso       | March    | 26          |

| ElPaso       | April    | 2           |

| ElPaso       | May      | 43          |

+--------------+----------+-------------+

Output:

+----------+--------+--------------+

| month    | ElPaso | Jacksonville |

+----------+--------+--------------+

| April    | 2      | 5            |

| February | 6      | 23           |

| January  | 20     | 13           |

| March    | 26     | 38           |

| May      | 43     | 34           |

+----------+--------+--------------+

Explanation:

The table is pivoted, each column represents a city, and each row represents a specific month.

In [ ]:
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    return weather.pivot_table(values='temperature', index='month', columns='city')

In [ ]:
df = pd.DataFrame([
    ['Jacksonville', 'January', 13],
    ['Jacksonville', 'February', 23],
    ['Jacksonville', 'March', 38],
    ['Jacksonville', 'April', 5],
    ['Jacksonville', 'May', 34],
    ['ElPaso', 'January', 20],
    ['ElPaso', 'February', 6],
    ['ElPaso', 'March', 26],
    ['ElPaso', 'April', 2],
    ['ElPaso', 'May', 43]
], columns=['city', 'month', 'temperature'])
print(pivotTable(df))

city      ElPaso  Jacksonville
month
April        2.0           5.0
February     6.0          23.0
January     20.0          13.0
March       26.0          38.0
May         43.0          34.0

# 2890. Reshape Data: Melt

DataFrame report

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| product     | object |

| quarter_1   | int    |

| quarter_2   | int    |

| quarter_3   | int    |

| quarter_4   | int    |

+-------------+--------+

Write a solution to reshape the data so that each row represents sales data for a product in a specific quarter.

The result format is in the following example.



Example 1:

Input:

+-------------+-----------+-----------+-----------+-----------+

| product     | quarter_1 | quarter_2 | quarter_3 | quarter_4 |

+-------------+-----------+-----------+-----------+-----------+

| Umbrella    | 417       | 224       | 379       | 611       |

| SleepingBag | 800       | 936       | 93        | 875       |

+-------------+-----------+-----------+-----------+-----------+

Output:

+-------------+-----------+-------+

| product     | quarter   | sales |

+-------------+-----------+-------+

| Umbrella    | quarter_1 | 417   |

| SleepingBag | quarter_1 | 800   |

| Umbrella    | quarter_2 | 224   |

| SleepingBag | quarter_2 | 936   |

| Umbrella    | quarter_3 | 379   |

| SleepingBag | quarter_3 | 93    |

| Umbrella    | quarter_4 | 611   |

| SleepingBag | quarter_4 | 875   |

+-------------+-----------+-------+

Explanation:
The DataFrame is reshaped from wide to long format. Each row represents the sales of a product in a quarter.

In [ ]:
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    return pd.melt(report, id_vars=['product'], var_name='quarter', value_name='sales')

In [ ]:
df = pd.DataFrame([
    ['Umbrella',417,224,379,611],
    ['SleepingBag',800,936,93,875]
    ], columns = ['product','quarter_1','quarter_2','quarter_3','quarter_4']
)

In [ ]:
meltTable(df)

       product    quarter  sales
0     Umbrella  quarter_1    417
1  SleepingBag  quarter_1    800
2     Umbrella  quarter_2    224
3  SleepingBag  quarter_2    936
4     Umbrella  quarter_3    379
5  SleepingBag  quarter_3     93
6     Umbrella  quarter_4    611
7  SleepingBag  quarter_4    875

# 2891. Method Chaining

DataFrame animals

+-------------+--------+

| Column Name | Type   |

+-------------+--------+

| name        | object |

| species     | object |

| age         | int    |

| weight      | int    |

+-------------+--------+

Write a solution to list the names of animals that weigh strictly more than 100 kilograms.

Return the animals sorted by weight in descending order.

The result format is in the following example.



Example 1:

Input:

DataFrame animals:

+----------+---------+-----+--------+

| name     | species | age | weight |

+----------+---------+-----+--------+

| Tatiana  | Snake   | 98  | 464    |

| Khaled   | Giraffe | 50  | 41     |

| Alex     | Leopard | 6   | 328    |

| Jonathan | Monkey  | 45  | 463    |

| Stefan   | Bear    | 100 | 50     |

| Tommy    | Panda   | 26  | 349    |

+----------+---------+-----+--------+

Output:

+----------+

| name     |

+----------+

| Tatiana  |

| Jonathan |

| Tommy    |

| Alex     |

+----------+

Explanation:

All animals weighing more than 100 should be included in the results table.
Tatiana's weight is 464, Jonathan's weight is 463, Tommy's weight is 349, and Alex's weight is 328.
The results should be sorted in descending order of weight.


In Pandas, method chaining enables us to perform operations on a DataFrame without breaking up each operation into a separate line or creating multiple temporary variables.

Can you complete this task in just one line of code using method chaining?

In [ ]:
import pandas as pd

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    return animals[animals.weight>100].sort_values(by='weight',ascending=False)[['name']]

In [ ]:
df = pd.DataFrame([
    ['Tatiana', 'Snake', 98, 464],
    ['Khaled', 'Giraffe', 50, 41],
    ['Alex', 'Leopard', 6, 328],
    ['Jonathan', 'Monkey', 45, 463],
    ['Stefan', 'Bear', 100, 50],
    ['Tommy', 'Panda', 26, 349]
], columns=['name', 'species', 'age', 'weight'])

In [ ]:
findHeavyAnimals(df)

       name
0   Tatiana
3  Jonathan
5     Tommy
2      Alex